<html>
<head>
	<title>Pirate ARRGGregator_s</title>
	<script src="javascripts/jquery.js"></script>
	<script src="javascripts/underscore.js"></script>
	<script src="javascripts/raphael.js"></script>
	<script src="javascripts/pirate_arrggregator.js"></script>
	<script src="javascripts/scripts.js"></script>
	<link rel="stylesheet" type="text/css" href="stylesheets/reset.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
</head>
<body>

	<%= yield %>

	<h4>Pirate Image Source: By getmahesh (Flickr: Louisiana Renaissance Festival) [<a href="http://creativecommons.org/licenses/by-sa/2.0">CC-BY-SA-2.0</a>], <a href="http://commons.wikimedia.org/wiki/File%3ALouisiana_Renaissance_Festival_Pirate.jpg">via Wikimedia Commons</a></h4>
</body>
</html>