<html>
<head>
	<title>Pirate ARRGGregator_s</title>
	<script src="javascripts/jquery.js"></script>
	<script src="javascripts/underscore.js"></script>
	<script src="javascripts/raphael.js"></script>
	<script src="javascripts/pirate_arrggregator.js"></script>
	<script src="javascripts/scripts.js"></script>
	<link rel="stylesheet" type="text/css" href="stylesheets/reset.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
</head>
<body>

	<%= yield %>

	<h6> Demo Version </h6>
</body>
</html>